body,
.loading {
  padding-top: 6rem;
}
.navbar-brand {
  font-size: 2rem !important;
}
.badge {
  padding: 1.25em 1.4em !important;
  margin-bottom: 0.8em;
  margin-right: 0.8em;
}
.font-bg {
  font-size: 1.4rem;
}
